.o_lens_table {
    th, td {
        text-align: end;
        vertical-align: middle;
    }

    th:first-child,
    td:first-child {
        text-align: start;
    }

    .o_lens_cert {
        background: #f8f9fa;
        font-weight: 600;
    }

    .o_lens_cert input {
        font-size: 1.25rem;
        font-weight: 700;
        max-width: 8rem;
        margin-left: auto;
    }

    .o_lens_shortcuts {
        font-size: 0.8rem;
        font-weight: 400;
        margin-top: 0.25rem;
        text-align: end;

        .o_field_widget {
            display: inline;
        }
    }
}
